.card {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url("../images/trash.svg") center no-repeat;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  border: 0;
  transition: opacity 1s;
}

.card__delete-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.card__text-box {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__caption {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29.5 / 24);
  white-space: nowrap;
  max-width: 220px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.card__like {
  background: transparent url("../images/heart.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  transition: opacity 1s;
}

.card__liked_active {
  background: transparent url("../images/filled_in_heart.svg") center no-repeat;
}

.card__like:hover {
  opacity: 50%;
  cursor: pointer;
}
