.header {
  margin: 0 auto;
  padding: 45px 0 0;
  max-width: 880px;
  height: 74px;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding: 0 0 41px;
}

.header__line {
  border-bottom: 1px #545454 solid;
  opacity: 70%;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 28px 0 0;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding: 0 0 32px 27px;
  }
}
