.pictures {
  max-width: 880px;
  margin: 51px auto 0;
}

.pictures__list {
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-flow: row;
  gap: 20px 17px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 740px) {
  .pictures {
    margin-top: 36px;
  }
}
